.container {
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-theme="dark"] .container {
  background-image: url("/static/img/map_dark.svg");
}

[data-theme="light"] .container {
  background-image: url("/static/img/map_light.svg");
}

.window {
  background-color: #fff;
  width: 70%;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 20px;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
  background-color: rgb(255, 227, 227);
}

.button {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #444;
}

.answer {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 20px;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
