/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container {
  z-index: 1;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.buttonHolder {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapBackground {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url("/static/map.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert();
}

[data-theme="dark"] .mapBackground {
  filter: none;
}
