/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.buttonHolder {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 160px;
  width: 160px;
  margin-bottom: 20px;
  background-image: url("/static/img/app_logo_light.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-theme="dark"] .logo {
  background-image: url("/static/img/app_logo_dark.svg");
}

.bubble {
  background: linear-gradient(200deg, #fc1dae 21.58%, #00f6ff 103.79%);
  border-radius: 10px;
  padding: 2px 8px 4px 8px;
}

.bubbleText {
  font-weight: 700;
  color: #e8e8e8;
}

[data-theme="dark"] .bubbleText {
  color: #171717;
}

[data-theme="dark"] .mapBackground {
  background-color: #292929;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url("/static/img/map_dark.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-theme="light"] .mapBackground {
  background-color: #ebebeb;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url("/static/img/map_light.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-theme="dark"] .mapBackground {
  filter: none;
}

.contribute {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}
