.container {
  padding: 100px 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-theme="dark"] .container {
  background-image: url("/static/img/map_dark.svg");
}

[data-theme="light"] .container {
  background-image: url("/static/img/map_light.svg");
}

.window {
  position: relative;
  background-color: #fff;
  max-width: 600px;
  flex-grow: 1;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 24px rgba(0, 0, 0, 0.25);
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 20px;
  background-color: #e4e4e4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
  background-color: rgb(255, 227, 227);
}

.button {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 15px;
  background: linear-gradient(229.5deg, #fc1dae 21.58%, #00f6ff 103.79%);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 12px 0;
}

.button:hover {
  background-color: #444;
}

.answer {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 20px;
  min-height: 165px;
  background-color: #e4e4e4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.helpButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #e4e4e4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
