.container {
  padding: 100px 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-theme="dark"] .container {
  background-image: url("/static/img/map_dark.svg");
}

[data-theme="light"] .container {
  background-image: url("/static/img/map_light.svg");
}

.window {
  position: relative;
  background-color: white;
  max-width: 600px;
  flex-grow: 1;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 24px rgba(0, 0, 0, 0.25);
}

[data-theme="dark"] .window {
  background-color: var(--ifm-background-color);
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 20px;
  background-color: var(--ifm-card-background-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border;
}

.input:hover,
.input:focus {
  border-color: var(--ifm-color-primary);
}

.error {
  background-color: #361717;
}

.sendButton {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin: 12px 0;
  background-size: 150% 100%;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(90deg, #fc1dae, #00f6ff);
}

.sendButton:hover {
  background-position: 100% 0;
  moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.answer {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 20px;
  height: 165px;
  background-color: var(--ifm-card-background-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.helpButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--ifm-card-background-color);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
