/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #c20085;
  --ifm-color-primary-dark: #af0078;
  --ifm-color-primary-darker: #a50071;
  --ifm-color-primary-darkest: #88005d;
  --ifm-color-primary-light: #d50092;
  --ifm-color-primary-lighter: #df0099;
  --ifm-color-primary-lightest: #fc00ad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff43c4;
  --ifm-color-primary-dark: #ff23ba;
  --ifm-color-primary-darker: #ff13b5;
  --ifm-color-primary-darkest: #e1009b;
  --ifm-color-primary-light: #ff63ce;
  --ifm-color-primary-lighter: #ff73d3;
  --ifm-color-primary-lightest: #ffa4e2;
}
